.newlines {
  white-space: pre-wrap;
  /*  should handle tab and new line pre-line for just lines */
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  background-color: #126ed8;
  color: rgb(254, 253, 253);
}

.accordion-item {
  max-width: 80vw;
  min-width: 50vw;
  background-color: #46e8fa;
  color: black;

  margin: 25px;
}

.binder{
  background-color: aqua;

}

.pages{
  background-color: rgb(50, 255, 50);

}